.wrapper {
  border-radius: 0.4rem;
  min-width: 10rem;
  padding: 0.9rem 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: var(--white);
  user-select: none;

  + .wrapper {
    margin-left: 0.8rem;
  }
  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
}
// Button types
.primary {
  color: var(--white);
  background-color: var(--primary);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}
.outline {
  color: var(--primary);
  border-color: currentColor;
  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}
//button size
.small {
  min-width: 8.8rem;
  padding: 0.4rem 1.6rem;
}

.large {
  min-width: 14.8rem;
  padding: 1.4rem 1.6rem;
}
.text {
  border: 1px solid rgba(22, 24, 35, 0.12);
  &:hover {
    text-decoration: underline;
  }
}
