.menu-list {
  width: 22.4rem;
  .menu-item {
    margin-left: 0;
  }
}
.menu-popper {
  padding-bottom: 0.8rem;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-radius: 0;
  padding: 1.1rem 1.6rem;
  line-height: 1.8rem;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
