.menu-list {
  width: 22.4rem;
  .menu-item {
    margin-left: 0;
  }
}
.menu-popper {
  padding-bottom: 0.8rem;
}

.menu-item {
  width: 100%;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
