.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
}

.search {
  width: 36.1rem;
  height: 4.6rem;
  border-radius: 9.2rem;
  padding: 1.2rem 1.6rem;
  background: rgba(22, 24, 35, 0.06);
}

.clear {
}

.loading {
}

.search {
}
