.wrapper {
  --search-border-radius: 9.2rem;
  --search-height: 4.6rem;
  --search-top-spacer: 0.9rem;
  --search-button-width: 5.2rem;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-result,
.search {
  width: 36.1rem;
}
.search {
  height: var(--search-height);
  border-radius: var(--search-border-radius);
  padding-left: 1.6rem;
  background: rgb(241, 241, 242);
  display: flex;
  position: relative;
  border: 1.5px solid transparent;

  input {
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    background-color: transparent;
    flex: 1;
    caret-color: var(--primary);
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
  &::after {
    content: '';
    position: absolute;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 0.1rem;
    right: var(--search-button-width);
    top: var(--search-top-spacer);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.clear-btn,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 1.8rem);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
  cursor: pointer;
}
.search-title {
  padding: 0 1.2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
  height: 3rem;
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
