.wrapper {
  display: flex;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 1;
  margin-left: 1.2rem;
}

.name {
  font-weight: 600;
  line-height: 2.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.check {
  margin-left: 0.8rem;
  color: rgb(32, 213, 236);
}

.username {
  color: rgba(22, 24, 35, 0.5);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.4rem;
  line-height: 2rem;
}
